body{
font-family: "Helvetica, Arial";
}
label {
    margin-bottom: 0px;
}
.category-name{
color: #000000;
font-weight: bold;
font-style: italic;
margin-bottom: 2%;
margin-top: 5%;
}
.title-post{
color:#f48212;

}
.view{
    font-weight: normal;
    font-style: italic;
}
.name-post{
text-transform:uppercase;
color: #30a9de;
font-size: 24px;
font-weight: bold;
margin-top: 2%;
margin-left: 10px;
margin-bottom: 5%;
font-family: Arial;
}
.img-detail-post{
    width: 100%;
    height: auto;
}
.info-post{
line-height: 40px;
font-weight: bold;
margin-bottom: 0px;
}
.content-post{
border-top:1px solid #ccc;
color: #000000;
font-size: 100%;
font-style: normal ;
margin-top: 5%;
padding-top: 20px;
text-align: justify;
}
.type-user{
color: #f48212;
font-style: italic;
}
.thumbnail{
    border: 0px;
}
@keyframes buttoncolor {
    from {background-color: #fff; color:#f48212}
    to {background-color: #f48212; color:#fff}
}
.like-button a,.share-button a{
    background: #fff;

   
    
}
.like-button, .share-button{
    border:1px solid  #f48212;
     text-align: center;
     color: #f48212;
}
.like-button:hover ,.share-button:hover{
    background-color: #f48212;
    animation-name: buttoncolor;
    animation-duration: 0.5s;
    color: #fff;
    text-decoration:none;
    cursor: pointer;
}
.like-button a{
    width: 100%;
    padding: 0px;
    margin-bottom: 20px;
}
.share-button{
    margin-top: 10px;
    padding: 5px;
    border-radius: 50%;
    
}
.share-button{
    width: 50px;
    height: 50px;
    font-size:  18px;
    margin-right: 10px;
}
.social-button{
    margin-top: 20px;
}

/*style css just for event-detail*/
.img-detail-event{
width: 100%;
height: auto;
margin-bottom: 10px;
}

.img-detail-event{
width: 100%;
height: auto;
margin-bottom: 10px;
}
.event-time{
	border-right: 1px solid #ddd;
}
.event-info-more{
	margin-top: 20px;
}

/*css for form add event*/



.form-control{
   border: 1px solid rgba(204, 204, 204, 0.36);;
}
.action-form{
	margin-top: 2%;
	padding: 20px;
	


}
.action-input-group > .input-group {
	padding-bottom: 15px;
	
}
.action-input-group > .input-group >input, .action-input-group > .input-group >span {
	border-radius: 0px;
}
.register-form >.action-input-group > .input-group >.form-control:focus {
	    border-color: #ff9d3d;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(244, 130, 18);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(244, 129, 17);
}
.login-form > .action-input-group > .input-group >span {
	background: #30a9de;
	color: #fff;
	border: #30a9de;
}
.register-form > .action-input-group > .input-group >span {
	background: #f48212;
	color: #fff;
	border: #f48212;
}
.form-control:focus{

}
 .nav-tabs{
 	width: 100%;
 }
 .nav-tabs >li{
 	width: 50%;
 	text-align: center;
 	
 }

.tab-content{
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #ddd;
	background: #efefef;
	

	
}
.tab-pane{
		padding: 20px;
	}
.login-form > legend{
	text-align: center;
	color: #30a9de;
	font-weight: bold;
	padding: 10px;
}
.register-form > legend{
	text-align: center;
	color: #f48212;
	font-weight: bold;
	padding: 10px;
}
.tab-pane>form{
	background: #fff;
	padding: 20px;
	border: 1px solid #efefef;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background: #efefef;
	border-radius: 0px ;
}
.login-form >.action-button{
	width: 100%;
	border-radius: 0px;
	background: #f48212;
	border: #f48212;
}
.login-form >.action-button:hover{
	background: #df6e00;
}
.register-form >.action-button{
	width: 100%;
	border-radius: 0px;
	background: #30a9de;
	border: #30a9de;
}
.register-form >.action-button:hover{
	background: #0085bf;
}
.warning {
	display: block;
	color: red;
	margin-bottom: 10px;
	font-size: 12px;
}
/* start menu_left */
html, body{
  height: 100%;
}
.main{
  display: block;
  height: 100%;
  
}
.left-menu-fixed{
  height: 100%;
  margin: 0px;
}


.menu-left>a {
    display: block;
  }
.menu-left{
    display: block;
  height: 100%;

      background-repeat: no-repeat;
  background-size: cover;
  position: fixed; 
}
.menu-trans{
    background: rgba(0, 0, 0, 0.5);
    height:  100%;
    margin: 0 auto;
}
.menu-left > .menu-trans>a {
    display: block;
    color:  #fff;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
 .menu-trans>.logo >img {
    margin: 20px;
    width: 120px;
    height: auto;
}
.menu-left > .menu-trans> .action {
    display:   block;
    width:  100%;
}
.menu-left > .menu-trans> .action >a{
    display: block;
    color:  #fff;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    float: left;
}
.menu-left > .menu-trans>a:hover {
    color:  #ccc;
}
.menu-left > .menu-trans> .profile{
    display: block;
    width:  100%;

}

.profile >div >a>img{
    width: 60px;
    display: inline;
    border-radius: 50%;
}
.profile {
    margin: 0 auto;

    padding-left: 20px;
}
.profile >.media-body{
    width:  100px;
}
 .profile> div > .media-heading{
    color: #fff;
    font-weight: bold;
    text-decoration: none;


 }
 a.view-profile{
    color: #30a9de;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
 }
 a.view-profile:hover{
    color:#0085bf;
 }
/* end menu_left */
.form_add_event{
    /* Size & position */
    width: 80%;
    margin: 20px auto 30px;
    font-family: 'Abril Fatface', cursive;
    padding: 30px;
    position: relative; /* For the submit button positioning */
  
    /* Styles */
    box-shadow:
        0 0 1px rgba(0, 0, 0, 0.3),
        0 3px 7px rgba(0, 0, 0, 0.3),
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
        border-radius: 5px;
        background: linear-gradient(#eeefef, #ffffff 10%);
}
  
.form_add_event .field {
    position: relative; /* For the icon positioning */
    display: block;
    padding: 2px 3px;
    margin-bottom: 5px;
    border: 10px;
}
.form_add_event label {
  display: inline-block;
  font-size: 1.1em;
  padding: 4px 0;
  color: #464646;
  vertical-align: top;
}

form .req { 
    color: #ca5354;
}



form input:focus, form textarea:focus { outline: none; }
 
/* placeholder styles: http://stackoverflow.com/a/2610741/477958 */
::-webkit-input-placeholder { color: #aaafbd; font-style: italic; } /* WebKit */
:-moz-placeholder { color: #aaafbd; font-style: italic; }           /* Mozilla Firefox 4 to 18 */
::-moz-placeholder { color: #aaafbd; font-style: italic; }          /* Mozilla Firefox 19+ */
:-ms-input-placeholder { color: #aaafbd; font-style: italic; }      /* Internet Explorer 10+ */

/*create*/
form .txt {
  display: inline-block;
  padding: 8px 9px;
  padding-right: 30px;
  width: 240px;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  color: #898989;
  background-color: #f0f0f0;
  background-image: url('images/checkmark.png');
  background-position: 110% center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(25, 25, 25, 0.25) inset, -1px 1px #fff;
  -moz-box-shadow: 0 1px 2px rgba(25, 25, 25, 0.25) inset, -1px 1px #fff;
  box-shadow: 0 1px 2px rgba(25, 25, 25, 0.25) inset, -1px 1px #fff;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.like-button a{
    width: 100%;
    padding: 0px;
    margin-bottom: 20px;
}
/*.share-button{*/
/*    margin-top: 10px;*/
/*    padding: 5px;*/
/*    border-radius: 50%;*/
    
/*}*/

.share-button{
    width: 50px;
    height: 50px;
    font-size:  18px;
    margin-right: 10px;
}
.social-button{
    margin-top: 20px;
}
.form_add_event >.action-button:hover{
    background: #df6e00;
}
/*end css for form add event*/

/*start css for main event*/

 .main_event{
    /* Size & position */
    width: 100%;
    margin: 10px auto 20px;
    font-family: 'Abril Fatface', cursive;
    padding: 20px;
    position: relative; /* For the submit button positioning */
  
    /* Styles */
    box-shadow:
        0 0 1px rgba(0, 0, 0, 0.3),
        0 3px 7px rgba(0, 0, 0, 0.3),
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
        border-radius: 5px;
        background: linear-gradient(#eeefef, #ffffff 10%);
}
.title_main_event{
    font-size: 30px;
    font-family: 'Khand', sans-serif;
    color: #30a9de;
  }
.text {
         position: relative;
         left: 200px;
         bottom: 57px;
         margin-top: -125px;
         padding-top: 20px;
         }
/*end css for main event*/

/* start css for Slide vertical*/

.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 400px;
}

.carousel.vertical .prev {
  top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -400px;
}

.carousel.vertical .active.right {
  top: 400px;
}

.carousel.vertical .item {
    left: 0;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    display: block;
    max-width: 40%;
    height:150px;
    padding: 5px;

}
.title_event{
    font-size: 20px;
    font-family: 'Khand', sans-serif;
    color: #30a9de;
    padding: 10px;

  }
.glyphicon-chevron-up:before {
    content: "\e113";
    color: #f48212;
      
}
.glyphicon-chevron-down:before {
    content: "\e114";
    color: #f48212;
}
.progress-bar{
    height: 0.5px;
    opacity: 0.2;
    background-color:#cdcdce;
}
.progress{
    height: 1px;
}
.carousel-control {
    left: 50%;
    transform: translateX(-50%);
}


.carousel-control.down {
    bottom: 0;
    top: auto;
}
.carousel-control.up {
    top: -15px;
    bottom: auto;
}

/*start css for conutdown clock*/
#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
   
}

#clockdiv > div{
    padding: 5px;
    border-radius: 1px;
    background: #fff;
    display: inline-block;
}

#clockdiv div > span{
    padding: 5px;
    border-radius: 3px;
    background: #f48212;
    display: inline-block;
    height: 75px;
    width: 50px;
}

.smalltext{
    padding-top: 5px;
    font-size: 15px;
    color: #f48212;
    font-weight: bold;
}

/*end css for slide vertical*/
.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}