@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body {
	padding-top: 50px;
}
body, label, .checkbox label {
	font-weight: 300;
}

@import "styles/main";
