@keyframes "change-color" {
	from {
		background-color: rgba(0, 0, 0, 0);
	}
	to {
		background-color: rgba(0, 0, 0, 1);
	}
}
.navbar {
	border-radius: 0px;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.8);
}
.navbar-right {
	margin-right: 20px;
}
.header-form {
	>.input-group {
		margin-top: 10px;

		>span {
			border-radius: 0px;
			background: none;
			border: 1px solid #fff;
			color: @white;
		}
		>input {
			border-radius: 0px;
			background: none;
			border: 1px solid #fff;
			color: @white;
		}
	}
	>button {
		margin-top: 10px;
		float: right;
		border-radius: 0px;
		background: none;
		border: 2px solid #fff;

		&:hover {
			animation-name: change-color;
			animation-duration: 0.5s;
			border: 2px solid #000;
			color: @white;
		}
		&:focus {
			background: #000;
			border: 2px solid #000;
		}
	}
	>.btn-primary {
		&:hover {
			background: #000;
			border: 2px solid #000;
		}
	}
}
.header-menu {
	>li {
		>.dropdown-menu {
			background: rgba(0, 0, 0, 0.8);
			width: 250px;
			border-radius: 0px;

			>li {
				>a {
					&:focus {
						background: none;
					}
					&:hover {
						background: none;
					}
				}
			}
		}
	}
}